.element {
  background-image: linear-gradient(
    to top right,
    deeppink, salmon, gold, lightblue, lightgreen
  );
  background-image: radial-gradient(
    circle at left bottom,
    deeppink, salmon, gold, lightblue, lightgreen
  );
  background-image: conic-gradient(
    at center 75%,
    deeppink, salmon, gold, lightblue, lightgreen, deeppink
  );
}

.sharp-lines-gradient {
  background-image: linear-gradient(
    deeppink 0%,
    deeppink 20%,
    salmon 20%,
    salmon 40%,
    gold 40%,
    gold 60%,
    lightblue 60%,
    lightblue 80%,
    lightgreen 80%,
    lightgreen 100%
  );
}

.using-hints {
  /* the middle point between the two colors will be at 80% */
  background-image: linear-gradient(
    to top right,
    deeppink,
    80%,
    lightgreen
  );
}

.sunset-gradient {
  background-image: radial-gradient(
    circle at 50% 100%,
    white 0%,
    yellow 10%,
    gold 20%,
    coral 30%,
    skyblue
  );
}
