/* https://developer.chrome.com/docs/css-ui/scrollbar-styling */
.container {
  /* scrollbar-color: <thumb-color> <track-color>; */
  scrollbar-color: salmon lightgreen;

  /* scrollbar-width: auto | thin | none; */
  scrollbar-width: thin;

  /*
    to maximize support given how recently the prop has been supported by major browsers
    we can rely on the prefixed pseudo-elements -webkit-scrollbar and -webkit-scrollbar-thumb
  */
  ::-webkit-scrollbar-thumb {
    background-color: salmon;
  }

  ::-webkit-scrollbar {
    background-color: var(--color-track);
  }
}
