.element {
  --delta-x: 2px;
  --delta-y: 2px;
  --blur-radius: 5px;
  --shadow-color: hsl(0deg 0% 0% / 0.25);

  box-shadow:         var(--delta-x) var(--delta-y) var(--blur-radius) var(--shadow-color);
  filter: drop-shadow(var(--delta-x) var(--delta-y) var(--blur-radius) var(--shadow-color));
  text-shadow:        var(--delta-x) var(--delta-y) var(--blur-radius) var(--shadow-color);

  /* Spread radius = increase or decrease the size of the shadow, which by default equals the box */
  --spread-radius: 10px;
  box-shadow: var(--delta-x) var(--delta-y) var(--blur-radius) var(--spread-radius) var(--shadow-color);

  /* Inset shadow */
  box-shadow: inset var(--delta-x) var(--delta-y) var(--blur-radius) var(--spread-radius) var(--shadow-color);

  /*
    box-shadow can get more than one shadow value
    but it probably should not be animated because it'll have an impact on performance on lower-end devices 
   */
  .layered.box {
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
  }
}
