.element {
  transform: translate(100px, 300px);
  transform: translateX(100%);
  transform: translateY(300px);

  transform: scale(2);
  transform: scale(2, 2);

  transform: rotate(360deg);
  transform: rotate(1turn);

  transform: skew(180deg);
  transform: skew(180deg, 90deg);
  transform: skewX(180deg);
  transform: skewY(180deg);

  /* default transform-origin */
  transform-origin: 50% 50%; 
  transform-origin: center center; 

  transform-origin: left top;
  transform-origin: 0% 0%;

  /* multiple transform can be applied, and the order IS important */
  transform: rotate(45deg) translateX(30px);
  transform: translateX(30px) rotate(45deg);
}
