.breakable-text {
  overflow-wrap: break-word;
  hyphens: auto;
  hyphenate-character: "--";
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  /* change the algorithm the browser uses to break lines */
  /* https://developer.chrome.com/docs/css-ui/css-text-wrap-balance */
  text-wrap: balance;
}

h1 {
  /* using the ch unit we can prevent long titles or paragraphs
   * the recommended length based on research is in the range 50-75 characters per line 
   */
  max-inline-size: 25ch;
}

.anecdotes {
  columns: 2;
  column-gap: 2rem;

  p {
    break-inside: avoid;
  }
}

p::first-letter {
  margin-left: 2rem;
}

/* OR */
p {
  text-indent: 2rem;
}

p {
  text-align: justify;
}

/** 
 A rising trend in recent years is to use the "system font stack".
 https://systemfontstack.com/
 */
.system-font-stack {
  font-family:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}


html {
  --font-sans-serif:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  font-family: var(--font-sans-serif);

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-serif);
  }
}

/**
 font-loading strategies: (font-display property in @font-face)
  - block
  - swap
  - fallback
  - optional
*/